* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 150px;
    position: sticky;
    top: 0;
    padding: 15px;
    overflow: hidden;
    z-index: 10;
    background-color: #FFF;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right>p {
    margin: 0;
}

.login {
    background-color: #ffffff;
    border: 1px solid #E5E7EB;
    width: fit-content;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 5px;
    padding: 5px;
}

.my-header {
    width: 95%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 4px 6px 0px rgba(31, 41, 55, 0.10), 0px 2px 4px 0px rgba(31, 41, 55, 0.06);
}

.my-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.my-buttons {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.btn {
    border-radius: 50px !important;
    background-color: #FFF !important;
    border: 1px sold #E5E7EB !important;
    color: #374151 !important;
}

.my-btn {
    border-radius: 100px;
    border: 1px solid #E5E7EB;
    padding: 8px 16px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
}

.dropdown-menu {
    border-radius: 10px !important;
}

.my-listings {
    width: 95vw;
    height: 100vh;
    display: flex;
    margin-inline: auto;
    overflow: hidden;
}

.my-card-container {
    width: 62%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 10px;
}

.my-card-container::-webkit-scrollbar {
    display: none;
}

#map {
    width: 40%;
    height: 100%;
}

.my-card {
    width: 288px;
    height: 350px;
    border-radius: 10px;
}

.my-card:hover {
    cursor: pointer;
}

.my-card-img {
    width: 95%;
    height: 70%;
    margin-inline: auto;
    background-color: #E5E7EB;
    overflow: hidden;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 10px;
    object-position: center;
}

.my-card-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.my-card-title>h5 {
    font-size: 14px;
    width: 70%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.fa-star {
    font-size: 10px;
}

.my-card>h5 {
    font-size: 12px;
    width: 95%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-inline: auto;
    color: #6B7280;
}

.ratings-display {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
}

.my-card>p {
    margin: 0;
    font-size: 12px;
    margin-left: 5px;
    color: #6B7280;
}

.prize-display {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.footer {
    width: 100vw;
    height: 50vh;
    background-color: #e5e5e5;
}